<h1>Signin</h1>

<%= form_tag(signin_path, method: :post) do %>

    <%= label_tag(:name, "Username:") %>
    <%= text_field_tag :username%>

</br>

<%= label_tag(:password, "Password:") %>
<%= password_field_tag :password %>

</br>

<%=submit_tag  "Sign In" %>

<%end%> </br>


<%= link_to('Log in with Facebook!', '/auth/facebook') %> 