<h1> All Watering Plans </h1>

<table>
<thead>
  <tr>
    <th colspan="3"></th>
  </tr>
</thead>

    <%= @waters.each do |w| %>

    
    <tbody>
      <tr>
        <td><strong>Plant Family</strong></td>
        <td><strong>Weeks Between waterings</strong></td>
        <td><strong>Soil Moiusture</strong></td>
      </tr>
    
      <tr>
        <td><%=w.plant_family%> </td>
        <td><%=w.weeks%> </td>
        <td><%=w.soil%></td>
      </tr>
    
    </tbody>
    </table>
    <%end%>

    <%= link_to "Create a New Watering Plan", new_water_path %>