<% if @plants %>

<h1> All Plants </h1>


<table>
<thead>

    <th><strong>Name</strong></th>
    <th><strong>Light Requirements</strong></th>
    <th><strong>Difficulty Rating</strong></th>


</thead>

<tbody>
  

<% @plants.each do |plant| %>
    


  <tr>
    <td><%=plant.name%> </td>
    <td><%=plant.light%> </td>
    <td style = "text-align:center"><%=plant.difficulty%> </td>
  </tr>


<%end%>
</tbody>
</table>

<%else%>
<h2> No plants yet :) </h2>
<%end%></br>

<%= link_to "See Most Difficult Plants", '/difficult' %>

<%= link_to "Create a New Plant", new_plant_path %>