
<%=form_for(@journal) do |f| %>

     
    <%= f.hidden_field :user_id %>
  
      <%=f.label :date, "Date Plant Acquired" %>
      <%=f.date_field :date %> </br>
  
      <%=f.label :last_watered, "Date Last Watered" %>
      <%=f.date_field :last_watered %></br>

  <fieldset>
      <label><h3> Select or Create Plant </h3></label>
      <%=f.label :plant_id, "Existing Plants to Choose From:" %>
      <%= f.collection_select :plant_id, Plant.all, :id, :name, :include_blank => true%> </br>
  
      <%= f.fields_for :plant, @journal.plant do |plant|%>
        <%= plant.hidden_field :user_id, :value => session[:user_id]%>
        <h5> Or Create a new plant </h5>
          <%= plant.label :name %>
          <%= plant.text_field :name %> </br>
  
          <%= plant.label :characteristics %>
          <%= plant.text_field :characteristics %> </br>
  
          <%= plant.label :light,  "Light Preferences" %>
          <%= plant.text_field :light %> </br>
  
          <%= plant.label :difficulty, "Difficulty Level (1-5)" %>
          <%= plant.number_field :difficulty, min: "0", max: "5" %> </br>
      <%end%>

  </fieldset>


  <fieldset>
  
      <label> <h3>Select or Create Plant Family Watering Plan</h3> </label>
      <%=f.label :water_id, "Existing Watetering Plans to Choose From:" %>
      <%= f.collection_select :water_id, Water.all, :id, :plant_family, :include_blank => true%> </br>
  
      <%= f.fields_for :water, @journal.water do |water|%>
            <%= water.hidden_field :user_id, :value => session[:user_id]%>
            <h5> Or Create a new plan </h5>
          <%= water.label :plant_family %>
          <%= water.text_field :plant_family %> </br>
  
          <%= water.label :weeks, "Water every __ week(s). Max 6" %>
          <%= water.number_field :weeks, min: "0", max: "6" %> </br>
  
          <%= water.label :soil,  "Soil Moisture" %>
          <%= water.text_field :soil %> </br>
  
      <%end%>
  
      </fieldset>
  
  <%= f.submit %>
  
  <%end%>