

<%=form_for(@journal) do |f| %>

     
  <%= f.hidden_field :user_id %>

    <%=f.label :date, "Date Plant Acquired" %>
    <%=f.date_field :date %>

    <%=f.label :last_watered, "Date Last Watered" %>
    <%=f.date_field :last_watered %>

    <label> Select or Create Plant </label>
    <%= f.collection_select :plant_id, Plant.all, :id, :name %> </br>

    <%= f.fields_for :plant, @journal.plant do |plant|%>
        <%= plant.label :name %>
        <%= plant.text_field :name %> </br>

        <%= plant.label :characteristics %>
        <%= plant.text_field :characteristics %> </br>

        <%= plant.label :light,  "Light Preferences" %>
        <%= plant.text_field :light %> </br>

        <%= plant.label :difficulty, "Difficulty Level (1-5)" %>
        <%= plant.number_field :difficulty, max: "5" %> </br>
    <%end%>

    <label> Select or Create Plant Family Watering Plan </label>
    <%= f.collection_select :water_id, Water.all, :id, :plant_family%> </br>

    <%= f.fields_for :water, @journal.water do |water|%>

        <%= water.label :plant_family %>
        <%= water.text_field :plant_family %> </br>

        <%= water.label :weeks, "Water every __ week(s). Max 6" %>
        <%= water.number_field :weeks, max: "6" %> </br>

        <%= water.label :soil,  "Soil Moisture" %>
        <%= water.text_field :soil %> </br>

    <%end%>


<%= f.submit %>

<%end%>