
<h1> <%= @user.username %>'s <%=@journal.plant.name %> <h1>

<h3> Last Watered On <%=@journal.last_watered %> </h3>
<h3> Plant Acquired On <%=@journal.date %> </h3>
</br>
<h3> Plant Information </h3>

Characteristics: <%= @journal.plant.characteristics %> </br>
Light Requirements: <%= @journal.plant.light %> </br>
Difficulty Level: <%= @journal.plant.difficulty %> </br>

 </br>
 </br>

 <% if @journal.water %>
<h3> <%= @journal.water.plant_family %> Watering Information </h3>
Water every <%= @journal.water.weeks %> week(s).</br>
Soil Moisture: <%= @journal.water.soil %>
<%end%></br>
</br>
</br>

<%= button_to "Update Journal" , edit_user_journal_path(@user.id, @journal), method: :get %>

